.ant-modal-body {
  padding: 10px;
}

.ant-modal-footer {
  display: none;
}

.ant-modal-content {
  border-radius: 10px;
}

.ant-btn.ant-btn-primary.ant-btn-icon-only.hamburger-btn {
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
}

.ant-modal-close-x {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 35px;
}

.menu-container {
  margin-top: 30px;
  margin-bottom: 10px;
}

.ant-menu-submenu-title {
  background: transparent linear-gradient(81deg, #315B81 0%, #003463 100%) 0% 0% no-repeat padding-box;
  border-radius: 10px;
}


span.ant-menu-title-content:nth-child(2) {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.ant-menu-submenu-arrow {
  color: white;
}

i.ant-menu-submenu-arrow:hover {
  color: white;
}

div.ant-menu-submenu-title:active {
  background: transparent linear-gradient(81deg, #315B81 0%, #003463 100%) 0% 0% no-repeat padding-box;
}

li.ant-menu-item:nth-child(1) > span:nth-child(2) {
  color: #6F91A8;
  font-size: 16px;
  font-weight: normal;
}

li.ant-menu-item:nth-child(2) > span:nth-child(2) {
  color: #6F91A8;
  font-size: 16px;
  font-weight: normal;
}


li.ant-menu-item:nth-child(3) > span:nth-child(2) {
  color: #6F91A8;
  font-size: 16px;
  font-weight: normal;
}


li.ant-menu-item:nth-child(4) > span:nth-child(2) {
  color: #6F91A8;
  font-size: 16px;
  font-weight: normal;
}


li.ant-menu-item:nth-child(5) > span:nth-child(2) {
  color: #6F91A8;
  font-size: 16px;
  font-weight: normal;
}


li.ant-menu-item:nth-child(6) > span:nth-child(2) {
  color: #6F91A8;
  font-size: 16px;
  font-weight: normal;
}

li.ant-menu-item:nth-child(7) > span:nth-child(2) {
  color: #6F91A8;
  font-size: 16px;
  font-weight: normal;
}

li.ant-menu-item.ant-menu-item-active {
  color: white;
}

li.ant-menu-item:nth-child(1) {
  background-color: white;
}

li.ant-menu-item:nth-child(1):focus {
  background-color: white;
}

.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	border-right: 3px solid transparent;
	transform: scaleY(0.0001);
	opacity: 0;
	transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
	content: '';
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
	background-color: white;
}

.ant-menu-sub.ant-menu-inline {
  background-color: white;
}

.ant-menu-submenu-selected {
  color: #F6C931;
}

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
	border-right: 0px solid transparent;
}